:root {
  --main-color: #9DC2B1;
}

/* @media screen and (max-width: 768x) {
  .aside {
    flex: 0 0 auto;
  }

  .article {
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .aside {
    flex: 0 0 40%;
    width: 35%;
  }

  .article {
    flex: 0 0 60%;
    width: 60%;
  }
} */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: var(--main-color);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color .5s;
}

.nav-link:hover {
  color: white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.aside {
  flex: 1 1 30%;
}

.article {
  flex: 3 1 65%;
}

.section-title {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 500;
}

.profile-title {
  font-size: 30px;
}