:root {
  --main-color: #9DC2B1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: var(--main-color);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 35px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.555);
  font-size: 16px;
  transition: color .5s;
}

.nav-link:hover {
  color: white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.aside {
  flex: 1 1 32%;
  background-color: rgba(245, 243, 243, 0.568);
}

.article {
  flex: 3 1 63%;
}

.section {
  padding: 20px 10px;
}

.section-profile {
  text-align: center;
}

.profile-photo {
  width: 230px;
  border-radius: 50%;
}

.section-title {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 500;
  padding-left: 30px;
  border-left: 5px solid var(--main-color)
}

.profile-title {
  margin-bottom: 25px;
  border-bottom: 1px solid black;
  font-size: 30px;
  line-height: 60px;
  color: black;
  font-weight: 300;
  padding-left: 0;
  border-left: none;
}

.profile-subtitle {
  font-weight: 500;
}

.contacts-list {
  list-style: circle;
}

.contacts-item {
  line-height: 30px;
}

.contacts-link {
  text-decoration: none;
  color: var(--main-color);
  transition: text-decoration .5s;
}

.contacts-link:hover {
  text-decoration: underline;
}

.about-me-text {
  font-size: 17px;
  line-height: 25px;
}

.skills-list {
  list-style-type: circle;
}

.skills-item {
  line-height: 30px;
}

.pre {
  background-color: rgb(235, 232, 232);
  padding: 0 10px;
}